<div class="product-card">
    {{log this}}
    <div class="product-info">
        <a href='/posts/{{id}}'>
            <img class='product-img' src="/{{thumbnail}}">
            <p class="product-title">
                {{title}}
            </p>
            </a>
            <details>
                <summary style="...">Details</summary>
                <p>
                    {{this.description}}
                </p>
            </details>
    </div>
</div>